<!DOCTYPE html >
<html >
  <head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Tweet-Mood</title>

        <!-- jQuery, Bootstrap -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    
    <!-- leaflet libraries -->
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

    <!-- Custom files -->
    <script type="text/javascript" src="{{ url_for('static', filename='map.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='us_states.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}"/>
    <script type="text/javascript">
      $SCRIPT_ROOT = {{ request.script_root | tojson | safe}};
    </script>

    <!-- Map Box -->
    <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />


  </head>

  <body>
  	<!-- Displays different data feeds -->
  	<div id="dataFeed" display: hidden>
      <div id="twitter"> </div>
      <div id="news"> </div>
    </div>

  	<h1> Tweet-<span style="color:yellow">Mood</span> 
      <button id="capture" class="feedButton" onclick="toggleLayer()"> Capture </button>
      <div class="dropdown">
  	  		<button class="feedButton" onclick="$('#dataFeed').fadeToggle()"> Toggle Feed </button>
  	  		<div class="dropdown-content"> 
  	  			<button class="dropdownOption" onclick="$('#twitter').show(); $('#news').hide(); $('#dataFeed').show()"> Twitter </button>
  	  			<button class="dropdownOption" onclick="$('#twitter').hide(); $('#news').show(); $('#dataFeed').show()"> News </button>
  	  		</div>
  	  </div>
    </h1> 


  	<div id="map"></div>

  <script>
		drawMap();
	</script>
  </body>
</html>