@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body { 
	margin:0; 
	font-family : "Open Sans", sans-serif;
}

h1 {
	background-color: #3e3e3e;
	color: #f2f2f2;
	margin: 0;
	height: 2em;
    font-size:2.3vw;
	padding-left: 10%;
}

#dataFeed {
	background-color: rgba(105, 105, 105, .8);
	position:absolute;
	margin-left: 70.2%;
	overflow: scroll;
	height: 100%;
	width: 30vw;
	z-index: 1;
}

#map { 
	position:absolute;
	margin-right: auto;
	margin-left: auto;
	height: 90%;
	width:100%; 
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 13vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown { 
	position: relative;
	display: inline-block;
	height: 100%;
}

/* Links inside the dropdown */
.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {
	background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.dropdownOption {
	background-color: #d3d3d3; /* Green */
    border: none;
    border-top: #a6a6a6 solid;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 100%;
}

.dropdownOption:focus {
	outline:none;
}

.feedButton {
    background-color: #f6f60e; /* Green */
    border: none;
    color: #3e3e3e;
    font-size: 1.5vw;
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 100%;
    width: 13vw;
    font-weight: bold;
}

.infoPiece {
	background-color: #4e4e4e;
	color: #d3d3d3;
	margin-top: 3px;
	padding: 1em;
	overflow: hidden;
}
